###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit/
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/messenger ###
/var/messenger_messages/
###< symfony/messenger ###

###> symfony/translation ###
/var/translations/
###< symfony/translation ###

###> symfony/validator ###
/var/validator/
###< symfony/validator ###

# Logs
/var/log/*.log
/var/log/prod/
/var/log/dev/

# Cache
/var/cache/*
!var/cache/.gitkeep

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store

# Composer
composer.phar

# Build
/build/
/public/build/

# Tests
/.phpunit.cache/