{% extends 'base.html.twig' %}

{% block title %}Plataforma de Mensajería Bajo Demanda{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4">📦 Plataforma de Mensajería</h1>
            <p class="lead">Servicio de mensajería bajo demanda v2.0</p>
            <hr class="my-4">
            
            {% if app.user %}
                <div class="alert alert-info">
                    ¡Bienvenido, {{ app.user.fullName }}!
                </div>
                <a href="{{ path('app_dashboard') }}" class="btn btn-primary btn-lg">
                    Ir al Dashboard
                </a>
            {% else %}
                <p>Inicia sesión o regístrate para comenzar a usar el servicio.</p>
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg me-2">
                    Iniciar Sesión
                </a>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary btn-lg">
                    Registrarse
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
